

body {
  min-height: 100vh;
  width: 100%;
  overflow-x: hidden;
  background-color: #b2caf2;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 100px;
  height: 90px;
  width: 100%;
  background-color:#c7adab;
  position: fixed;
  top: 0;
  transition: 0.3s;
}


header h2 {
  font-size: 40px;
  color: #2a6ad0;
  text-transform: uppercase;
}

header ul li {
  display: inline-block;
  margin-left: 15px;
}

header ul li a {
  text-decoration: none;
  color: #1f67db;
  font-weight: 500;
  padding: 10px;
  border-radius: 15px;
  transition: 0.6s ease;
}

header ul li a:hover {
  background-color: #1f67db;
  color: #c7adab;
}

#home {
  margin-top: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 95vh;
  width: calc(100% - 100px);
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.dark {
  background-color: #1F2021;
  color: #fff;
  transition: 0.3s;
}


.left {
  display: flex;
  flex-direction: column;
  transform: translateY(-200px)
}

.left span {
  font-size: 30px;
}

.left h3 {
  font-size: 50px;
  color: #1f67db;
  letter-spacing: 1px;
}

.left .des {
  font-size: 25px;
}

.left button {
  border: none;
  outline: none;
  background-color: #1f67db;
  width: 150px;
  border-radius: 15px;
  padding: 15px 20px;
  margin-top: 20px;
  cursor: pointer;
  transition: 0.5s;
}


.left button:hover {
  transform: scale(1.09);
  background-color: #c7adab;
}

.left button:hover a {
  color: #1f67db
}

.bgtitle {
  position: absolute;
  transform: rotate(-90deg) translateY(300px) translateX(-250px);
  z-index: -2;
  right: 0;
  font-size: 150px;
  color: #1f67db;
  opacity: 0.3
}

.ya {
  position: absolute;
  font-size: 100px;
  right: 60px;
  top: 200px;
  color: #1f67db;
  opacity: .3;
  z-index: -10;
}

.circle1 {
  position: absolute;
  height: 200px;
  width: 200px;
  border: solid 30px #1f67db;
  border-radius: 50%;
  opacity: 0.3;
  bottom: 250px;
  left: 80px;
}

.circle2 {
  position: absolute;
  height: 200px;
  width: 200px;
  border: dashed 30px #1f67db;
  border-radius: 50%;
  transform: translate(300px, 20px);
  opacity: 0.3;
}

.circle3 {
  position: absolute;
  height: 200px;
  width: 200px;
  border: solid 30px #1f67db;
  opacity: 0.3;
  border-radius: 50%;
  top: 150px;
  left: 80px;
}

#services {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 200px 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #30257D;
}

.title {
  text-transform: uppercase;
  color: #1f67db;
  letter-spacing: 1px;
  font-size: 45px;
}

.cards {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px 0;
  gap: 30px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #c7adab;
  box-shadow: 5px 5px 10px #3D474B;
  border-radius: 10px;
  padding: 20px;
  transition: 0.5s;
  position: relative;
  overflow: hidden;
  height: 170px;
}



.bgcard {
  background-color: lightgray;
  z-index: 100000;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  opacity: .6;
  position: absolute;
  transition: 0.5s;

}

.card:hover {
transform: 0 80;
  height: 240px;
}

.card:hover .bgcard {
  opacity: 0;
}

.card ion-icon {
  font-size: 65px;
  margin-bottom: 10px;
  position: absolute;
  z-index: 10000000;
  transform: translateY(30px);
  transition: 0.5s;
}


.html {
  color: #ED6915;
}

.css {
  color: #4269F5;
}

.js {
  color: #D5D649;
}


.bgcard:hover{
  background-color: #c7adab;
  
}


.card:hover {
  transform: scale(1.08);
  height: 240px;

}

#skills {
  width: 100%;
  padding: 200px 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.content {
  justify-content: space-between;
  align-items: center;
  display: flex;
  width: 100%;
  margin-top: 40px;
}

.skills {
  background-color: #c7adab;
  padding: 20px;
  padding-top: 0;
  border-radius: 10px;
  box-shadow: 5px 5px 5px #3D474B;
}
.para {
  margin-left: 50px;
}

.para h3 {
  color: #1f67db;
  font-weight: 500;
  font-size: 30px;
  letter-spacing: 1px;
}

.skill {
  margin-top: 20px;
  position: relative;
}

.bgskill {
  transform: rotate(90deg) translateY(40px);
  left: 0;
  top: 120px;
  position: absolute;
  font-size: 80px;
  opacity: 0.3;
  color: #1f67db;
  z-index: -10;
}

.circle4 {
  height: 200px;
  width: 200px;
  border: solid 30px #1f67db;
  opacity: 0.3;
  border-radius: 50%;
  top: 80px;
  right: 100px;
  position: absolute;
}

.circle5 {
  position: absolute;
  height: 150px;
  width: 150px;
  border: dashed 30px #1f67db;
  opacity: 0.3;
  border-radius: 50%;
  bottom: 40px;
  left: 160px;
}

#contact {
  background-color: #30257D;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 200px 100px;
}


